packages/
bin/
obj/
*.suo
*.user
*.bak
*.userprefs

/.vs/config
TMSF/TMSF.UWP/project.lock.json
.vs/

# Xamarin.Android Resource.Designer.cs files
**/*.Android/**/[Rr]esource.[Dd]esigner.cs
**/*.Droid/**/[Rr]esource.[Dd]esigner.cs
**/Android/**/[Rr]esource.[Dd]esigner.cs
**/Droid/**/[Rr]esource.[Dd]esigner.cs

.DS_Store
